<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="http://xs286880.xsrv.jp/LiveCoeFont/normal.js"></script>
    <script src="http://xs286880.xsrv.jp/LiveCoeFont/weather.js"></script>
    <script src="http://xs286880.xsrv.jp/LiveCoeFont/train.js"></script>
    <title>情報VIEW</title>
</head>
<body style="margin:0;padding:0;">
    <div style="width: 100%; background: #05b974; margin-top: 0;"> 
        <h1 style="color: #FFFFFF; margin:0; padding:20px; padding-bottom: 0;">情報VIEW</h1>
        <p style="margin-top: 0; font-weight: bold; font-size: 16px; padding-right: 10px; color: #FFFFFF; text-align: right;" id="time"></p>
    </div>
    <div style="width: 90%; margin: 0 10%; background: #80ccff;">
        <h2 id ="weather" style="color: #FFFFFF; padding:10px; margin-bottom: 0;">天気</h2>
    </div>
    <div style="width: 90%; margin: 0 10%; background: #dcf1ff;">
        <div id ="weather" style="display: flex; padding-top: 30px;">
            <div>
                <p id="date1" style="font-size: 20px;margin: 0;"></p>
                <img id="weather1" src="" style="width: 350px;">
            </div>
            <div style="margin-left: 10px;">
                <p id="date2" style="font-size: 20px;margin: 0;"></p>
                <img id="weather2" src="" style="width: 350px;">
            </div>
            <div style="margin-left: 10px;">
                <p id="date3" style="font-size: 20px;margin: 0;"></p>
                <img id="weather3" src="" style="width: 350px;">
            </div>
        </div>
    </div>
    <div style="width: 90%; margin: 0 10%; background: #39c203;">
        <h2 id="train_title" style="color: #FFFFFF; padding:10px; margin-bottom: 0;">交通情報</h2>
    </div>
    <div style="width: 90%; margin: 0 10%; background: #c5ffa4;">
        <h3 id="train" style="margin-left: 10px; margin-bottom: 0; margin-top: 0;"></h3>
        <div id ="weather" style="display: flex; padding-top: 20px;">
            <div style="margin-left: 10px;">
                <p id="train1" style="margin-top: 0;font-size: 20px;margin: 0;"></p>
                <img id="train_1" src="" style="width: 200px;">
            </div>
            <div style="margin-left: 10px;">
                <p id="train2" style="margin-top: 0;font-size: 20px;margin: 0;"></p>
                <img id="train_2" src="" style="width: 200px;">
            </div>
            <div style="margin-left: 10px;">
                <p id="train3" style="margin-top: 0;font-size: 20px;margin: 0;"></p>
                <img id="train_3" src="" style="width: 200px;">
            </div>
            <div style="margin-left: 10px;">
                <p id="train4" style="margin-top: 0;font-size: 20px;margin: 0;"></p>
                <img id="train_4" src="" style="width: 200px;">
            </div>
            <div style="margin-left: 10px;">
                <p id="train5" style="margin-top: 0;font-size: 20px;margin: 0;"></p>
                <img id="train_5" src="" style="width: 200px;">
            </div>
        </div>
    </div>
    <div style="width: 90%; margin: 0 10%; background: #c29503;">
        <h2 style="color: #FFFFFF; padding:10px; margin-bottom: 0;">ニュース</h2>
    </div>
    <div style="width: 90%; margin: 0 10%; background: #f7f1a6;">
        <h3 id="train" style="margin-left: 10px; margin-bottom: 0; margin-top: 0;"></h3>
        <div id ="weather" style="display: flex; padding-top: 30px;">
            
        </div>
    </div>
    <div class="read" style="display: none;">晴時々曇</div>
</body>
</html>